* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

.wrapper {
    display: flex;
}

.main {
    display: flex;
    gap: 1em;
    padding: 10px;
}

.sidebar {
    text-align: center;
    padding: 15px;
    background-color: #FFE135;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.link {
    display: flex;
    align-items: center;
    color: black;
    gap: 0.2em;
    font-size: 18px;
}